body{
    align-content: center;
    align-items: flex-start;
    background-color: #EEF;
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 100vh;

}

body>.ember-view{
    width:  50%;
    display: flex;
    padding: 2em;
    align-items: center;
    justify-content: center;
}
.todo{
    width: 80%;
    box-shadow: 5px 2px 3px #aaa;
    
}

.todo--list{
    margin: 0;
    padding: 0;
}
.todo--list--li{
    display: flex;
    margin: 0;
}
.todo--list--li:not(:first-child){    
    padding: 1px 0px 1px 4px;
}
.todo--list--li:nth-child(odd){
    background-color: #DDF;
}

.todo--input{
    flex: 1;
}
.todo--task{
    flex:1; 
}
.todo--button{
    height: 2em;
    color:white;
    background-color:darkgray;
}
.todo--button__default{
    background-color:green;    
}
.todo--button__info{
    background-color:blue;
}
.todo--button__danger{
    background-color:red;
}
