
  <form  class="todo--list--li" action="">

  {{input  required="required" class="todo--input" value=newTodo maxlength="70"}}
  <button class=" todo--button todo--button__default" {{action "add"}}>{{fa-icon "plus"}}</button>
  </form>
  
